/**
 * @name Ciel's Shotas
 * @author shiraineshota#9999
 * @description A theme with custom background 
 * @version 0.1.0
 */

/* 
* {
    background-color: transparent !important;
    background: none !important;
} */

:root {
    /* 背景圖片 */
    --bg: url("./ciel_shota/background/default.png");
    --bg-brightness: 30%;           /* 亮度 */

    /* 左下角 - 個人面板背景圖片 */
    --bg-panel: url("./ciel_shota/panel/default.png");
    --bg-panel-brightness: 30%;     /* 亮度 */

    /* 右側成員列表背景圖片 */
    --bg-sidebar: url("./ciel_shota/sidebar/default.png");
    --bg-sidebar-brightness: 50%;   /* 亮度 */
    
    /* 伺服器 - 身分組標題顏色 */
    --category-color: #68aceb;

    --textbar-decoration-fg: url("./ciel_shota/decoration/textbar_foreground.png");
    --textbar-decoration-bg: url("./ciel_shota/decoration/textbar_background.png");
    
}

/* discord 預設遮罩 */
body,
[class *= app],
[class *= bg] {
    background: none !important;
    background-color: transparent !important;
}

/* 
    透明背景：
        1. 左側伺服器列表　　　　　 | sidebar  > wrapper
        2. 頻道列表　　　　　　　　 | sidebar  > sidebarList
        3. 聊天室　　　　　　　　　 | chat     > content
           　　　　　　　　　　　　 | chat     > content      > container
        4. 成員列表　　　　　　　　 | member
           　　　　　　　　　　　　 | members
        5. 私訊－左側好友列表　　　 | privateChannels
        6. 私訊－右側好友資訊　　　 | panels
        7. 語音　　　　　　　　　　 | callContainer
        8. 語音－詳細　　　　　　　 | videoControls
        9. 伺服器－頻道與身分組元件 | prompt
           　　　　　　　　　　　　 | profileCard
           　　　　　　　　　　　　 | channelRow
        10. 完整好友列表　　　　　　| page > container
           　　　　　　　　　　　　 | tabBody > nowPlayingColumn
        11. 音效版　　　　　　　　　| picker
        12. 語音－聊天、討論版　　　| channelChatWrapper
           　　　　　　　　　　　　 | chatLayerWrapper
        13. 彈出視窗－分享畫面　　　| focusLock
        14. 彈出視窗－開啟活動　　　| container:has(root) > footer
        15. 彈出視窗－近期活動　　　| popoutContentWrapper
           　　　　　　　　　　　　 | interactionsContainer
        16. 商店　　　　　　　　　　| shop
*/
[class *= sidebar]::after,
[class *= sidebar] > [class *= wrapper],
[class *= sidebar] > [class *= sidebarList] > [class *= container],
[class *= chat],
[class *= chat] > [class *= header],
[class *= chat] > [class *= content],
[class *= chat] > [class *= content] > [class *= page],
[class *= chat] > [class *= content] > [class *= chatContent],
[class *= chat] > [class *= content] [class *= container],
[class *= chat] > [class *= content] [class *= pageBody],
[class *= chat] > [class *= subtitleContainer] > [class *= title],
[class *= member],
[class *= members],
[class *= privateChannels],
[class *= privateChannels] > [class *= scroller],
[class *= panels] > [class *= panel],
[class *= panels] > [class *= wrapper] > [class *= container],
[class *= callContainer],
[class *= wrapper]:has([class *= callContainer]),
[class *= callContainer] > [class *= root],
[class *= videoControls] > [class *= gradientTop],
[class *= videoControls] > [class *= gradientBottom],
[class *= prompt],
[class *= profileCard],
[class *= profileCard] > [class *= roles] > [class *= role],
[class *= channelRow],
[class *= page] > [class *= container],
[class *= page] > [class *= container] > section[class *= container],
[class *= page] > [class *= container] > [class *= tabBody],
[class *= tabBody] > [class *= nowPlayingColumn],
[class *= tabBody] > [class *= nowPlayingColumn] > [class *= container],
[class *= tabBody] > [class *= nowPlayingColumn] > [class *= container] [class *= itemCard],
[class *= picker] [class *= wrapper],
[class *= picker] [class *= soundInfo],
[class *= picker] [class *= soundButton],
[class *= picker] [class *= sectionContainer],
[class *= channelChatWrapper],
[class *= chatLayerWrapper],
[class *= chatLayerWrapper] > [class *= resizeHandle],
[class *= chatLayerWrapper] > [class *= container],
[class *= chatLayerWrapper] > [class *= container] > [class *= container],
[class *= chatLayerWrapper] > [class *= container] > [class *= chat] > [class *= chatContent],
[class *= focusLock] > [class *= root],
[class *= focusLock] > [class *= root] [class *= contentWrapper],
[class *= container]:has([class *= root]) [class *= footer],
[class *= popoutContentWrapper],
[class *= interactionsContainer],
[class *= shop],
[class *= shop] [class *= shopViewWrapper],
[class *= shop] [class *= shopScroll],
[class *= shop] [class *= productCardContainer],
[class *= shop] [class *= productCardContentContainer],
[class *= shop] [class *= productCardContentContainer] > [class *= headerContainer],
[class *= shop] [class *= productCardContentContainer] > [class *= footerGradient],
[class *= shop] [class *= productCardContentContainer] > [class *= footerContainer],
[class *= textAreaSlate] > [class *= buttons] > [class *= button],
[class *= picker] [class *= categoryIcon] {
    background: none !important;
    background-color: transparent !important;
}

/* 
    毛玻璃特效於：
        1. Hover 伺服器 Icon 時的 Tooltip　 | listItemTooltip
        2. 分享畫面　　　　　　　　　　　　　 | container:has(root)
        3. 開啟活動的彈出視窗　　　　　　　　 | focusLock
        4. 音效版　　　　　　　　　　　　　　 | picker
        5. 近期動態－彈出視窗　　　　　　　　 | popout
        6. 個人資料卡片　　　　　　　　　　　 | profileCard
*/
.user-profile-popout,
[class *= tooltipPrimary],
[class *= layerContainer] [class *= container]:has([class *= root]),
[class *= focusLock] > [class *= root],
[class *= layerContainer] [class *= picker],
[class *= popout]:has([class *= popoutContentWrapper]),
[class *= profileCard],
[class *= prompt],
[class *= channelRow],
[class *= productCardContainer] {
    background-color: #00000070 !important;
    backdrop-filter: blur(5px);
}

/* 各個自訂背景圖片的基礎設定*/
body::before,
[class *= membersWrap]::before,
[class *= sidebar] > [class *= panels]::before {
    display: block;
    position: absolute;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    content: "";
    background-color: transparent !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* 背景圖片 */
body::before {
    background-image: var(--bg) !important;
    filter: brightness(var(--bg-brightness));
}

/* 圖片遮罩 */
#app-mount {
    background: transparent;
}

[class *= searchBar],
[class *= sidebar] > [class *= sidebarList] > [class *= container] > [class *= container] > [class *= header] {
    border-right: 1px solid var(--border-subtle) !important;
    border-bottom-right-radius: var(--radius-md);
}

#---new-messages-bar > [class *= content] {
    display: none;
}

#---new-messages-bar > [class *= unreadPill] {
    background-color: var(--divider-color) !important;
}

[class *= upperContainer] > [class *= children]::after {
    display: none;
}

/* 右側成員列表 */
[class *= membersWrap] {
    background-color: transparent !important;
}

[class *= membersWrap]::before {
    background-image: var(--bg-sidebar);
    filter: brightness(var(--bg-sidebar-brightness));
}

/* 成員清單 - 類別名稱 */
[class *= headerContainer] > [class *= header] span,
[class *= membersGroup] > span {
    color: var(--category-color);
}

/* 左下角個人頭像下的小橫條 */
[class *= divider] > span {
    background-color: transparent !important;
}

/* 語音區域效果 */
[class*=voiceUser] > [class*=content] {
    transition: transform 0.5s ease-in-out;
}

[class*=content]:has(>[class*=avatarSpeaking]) {
    background-color: rgba(72, 255, 0, 0.1) !important;
    transform: translateX(-10px);
}

[class*=modeConnected][class*=typeVoice] {
    background-color: rgba(72, 255, 0, 0.1) !important;
    border-radius: 5px;
}

[class*=modeConnected][class*=typeVoice] [class*=icon] {
    color: rgb(72, 173, 72);
}

/* 私訊介面 - 右側好友資訊 */
[class *= chat] > [class *= content] > [class *= outer] {
    background: linear-gradient(180deg, var(--bg-color) 0%, transparent 80%);
}

[class *= chat] > [class *= content] > [class *= outer] > [class *= inner] {
    border-top-left-radius: var(--radius-sm);
}

/* 左下角控制面板 */
[class *= sidebar] > [class *= panels],
[class *= sidebar] > [class *= panels] > [class *= activityPanel] {
    overflow: hidden;
    border: 0px !important;
}

/* 控制面板背景圖片 */
[class *= sidebar] > [class *= panels]::before {
    background-image: var(--bg-panel) !important;
    filter: brightness(var(--bg-panel-brightness));
}

[class *= rtcOpened] > [class *= videoContainer] {
    display: none;
}

[class *= subtitleContainer] > [class *= container] {
    border: 0px !important;
}

/* 直播畫面 */
[class *= videoWrapper] *,
[class *= tileChild],
[class *= videoWrapper],
[class *= video] {
    background-color: transparent;
    border-radius: var(--radius-sm);
}

[class *= page] > [class *= container] > section[class *= container] {
    border: 0px !important;
}

[class *= channelTextArea] > [class *= scrollableContainer] {
    position: inherit;
}

[class *= channelTextArea] {
    position: relative;
}

/* 輸入框上方的角色貼圖 */
[class *= channelTextArea]::after,
[class *= channelTextArea]::before {
    content: "";
    display: block;
    position: absolute;
    transform: translate(29%, -58%);
    height: 200px;
    width: 100%;
    top: 0px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    user-select: none;
    pointer-events: none;
}

[class *= channelBottomBarArea] > [class *= channelTextArea]::after {
    background-image: var(--textbar-decoration-fg);
}

[class *= channelBottomBarArea] > [class *= channelTextArea]::before {
    background-image: var(--textbar-decoration-bg);
}

/* 音效版 */
[class *= picker] [class *= header] {
    box-shadow: none;
}

[class *= picker] [class *= soundButtonWrapper] {
    background-color: #ffffff10;
}

[class *= layerContainer] [class *= menu] {
    background-color: #00000070 !important;
}

[class *= layerContainer] [class *= menu]::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(5px);
    z-index: -1;
}

#user-profile-overflow-menu {
    background-color: #ffffff70 !important;
}

[class *= tooltipPointer] {
    display: none;
    visibility: hidden;
}

[class *= chatGradient] {
    visibility: hidden;
}

/* Vencord 設定畫面樣式 */
.vc-settings-quickActions-pill {
    color: var(--text-default); /* inherit from Vencord */
}